#Ignore Terraform stuff
.*.*.*.info
*.tfstate*
*.terraform.tfstate
*.terraform
*.tfvars
*.terraform.lock.hcl

# Ignoore venv of python
**/venv/**

# Ignore intelij stuff
**/.idea/**
**../.idea/**
